<br>
<%= link_to "Edit user", edit_manager_registration_path%>||
<%= link_to "Sign out", destroy_manager_session_path, method: :delete%>
<br>

This is the index page
<br>

<% @ques.each do |que| %>
    <%= link_to que.name, que_path(que)%>
    <br>
<% end %>

<h4><%= link_to "add Que", new_que_path%></h4>